h3, div, span, h1, h2, h3, h4, b, i, 
ol, ul, li, form, label, section{

	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #4c4c4c;
}


.result_img{
    height: 80px;
    float: left;
    padding-right: 10px;
    width: 80px;
}

.final_result{
    min-height: 100px;
    border-radius: 15px;
    border: 3px solid #CAD4D6;
}


#student_view_form body{
	color: #4c4c4c;
}

#student_view_form  > div > div > ul[role = tablist]  { display: none; }
#student_view_form  > .wizard > .content {overflow-y: hidden}

.quiz_title{
	display: block;
	transition: color 0.25s ease-in-out 0s;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 2.0rem;
}

.quiz_title, .quiz_title > i{
	color: #009fe6;
}



.quiz_description, .quiz_question, .question_container, .user_answers{
	display: block;
	color: #4c4c4c;
}

.quiz_description, .quiz_question{
	font-size: 0.8em;
}

.question_container{
	border: solid 4px #DDD;
	height: 70% !important; 
	width: 85% !important;
}

.question_title{
	text-transform: uppercase;
}

.user_answers{
	padding: 20px;
}

.user_answers > input, .user_answers > label{
	display: inline;
}

.user_answers > label{
	font-size: 0.8rem;
}
