#student_view_form *{
   color: #4c4c4c;
}

.result_img{
    height: 80px;
    float: left;
    padding-right: 10px;
    width: 80px;
}

#student_view_form  > div > div > ul[role = tablist]  { display: none; }
#student_view_form  > .wizard > .content {overflow-y: hidden}

.quiz_title{
	display: block;
	transition: color 0.25s ease-in-out 0s;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 2.0em;
}

.quiz_title, .quiz_title > i{
	color: #009fe6 !important;
}

.quiz_description, .quiz_question, .question_container, .user_answers{
	display: block;
}

.quiz_description, .quiz_question{
	font-size: 0.8em;
}

.question_container{
	border: solid 4px #DDD;
	height: 70% !important; 
	width: 85% !important;
}

.question_title{
	text-transform: uppercase;
}

.user_answers{
	padding: 20px;
}

.user_answers > input, .user_answers > label{
	display: inline;
}

.user_answers > label{
	font-size: 0.8em;
}
