<div class="range">
    <input placeholder="Range Name" type="text" id="<%- nameFieldAttrs %>" name="<%- nameFieldAttrs %>"  class="required" />
    <input placeholder="Range Min" type="number" step="0.1" id="<%- minFieldAttrs %>" name="<%- minFieldAttrs %>" value=""  class="required" />
    <input placeholder="Range Max"  type="number" step="0.1" id="<%- maxFieldAttrs %>" name="<%- maxFieldAttrs %>" value=""  class="required" />
    <input placeholder="Result Image" type="text" id="<%- imageFieldAttrs %>" name="<%- imageFieldAttrs %>" >
    <a href="#" data-tooltip="Delete" class="delete-range delete-button action-button">
                                <i class="icon fa fa-trash-o"></i>
                                <span class="sr">Delete</span>
                                </a>
    <textarea class="custom_textarea" placeholder="Html Body" id="<%- htmlBodyFieldAttrs %>" name="<%- htmlBodyFieldAttrs %>"></textarea>
</div>