<div class="category">
    <input type="hidden" id="<%- idFieldAttrs %>" name="<%- idFieldAttrs %>" value="" />
    <input placeholder="Name" type="text" id="<%- nameFieldAttrs %>" name="<%- nameFieldAttrs %>"  class="required" />
    <input placeholder="Image" type="text" id="<%- imageFieldAttrs %>" name="<%- imageFieldAttrs %>" >
    <input placeholder="Internal Description"  type="text" id="<%- internalDescAttrs %>" name="<%- internalDescAttrs %>" >
    <textarea class="custom_textarea" placeholder="Html Body" id="<%- htmlBodyFieldAttrs %>" name="<%- htmlBodyFieldAttrs %>"></textarea>
    <a href="#" class="delete-category">Delete</a>
</div>