<div class="category">
    <input type="hidden" id="<%- idFieldAttrs %>" name="<%- idFieldAttrs %>" value="" />
    <input placeholder="Name" type="text" id="<%- nameFieldAttrs %>" name="<%- nameFieldAttrs %>"  class="required" />
    <input placeholder="Image" type="text" id="<%- imageFieldAttrs %>" name="<%- imageFieldAttrs %>" >
    <input placeholder="Internal Description"  type="text" id="<%- internalDescAttrs %>" name="<%- internalDescAttrs %>" >
    <a href="#" data-tooltip="Delete" class="delete-category delete-button action-button">
        <i class="icon fa fa-trash-o"></i>
        <span class="sr">Delete</span>
    </a>
    <textarea class="custom_textarea" placeholder="Html Body" id="<%- htmlBodyFieldAttrs %>" name="<%- htmlBodyFieldAttrs %>"></textarea>

</div>