<li class="answer-choice">
    <input placeholder="Choice Text" type="text" id="<%- answerText %>" name="<%- answerText %>" class="required answer-txt" />
    <% if(type == 'BFQ'){ %>
        <select id="<%- resultChoice %>" name="<%- resultChoice %>" class="required result-choice">
            <option value=""> -- Choose result -- </option>
            <% _.each(resultChoicesOptions, function(choice) { %>
                 <option value="<%- choice.id %>"><%- choice.name %></option>
            <% }); %>
        </select>
    <% } else { %>
            <input placeholder="Choice Value" type="number" step="0.1" id="<%- answerValue %>" name="<%- answerValue %>" class="required answer-value" />
            <a href="#" data-tooltip="Delete Choice" class="delete-choice delete-button action-button">
                <i class="icon fa fa-trash-o"></i>
                <span class="sr">Delete</span>
            </a>
    <% } %>
</li>


