<!-- Step 1 Html -->
<h3>Basic Info</h3>
<section step="1">
<hr/>
    <ul class="list-input settings-list">
        <li class="field comp-setting-entry metadata_entry">
            <div class="wrapper-comp-setting">
                <label for="title" class="label setting-label">Quiz Title</label>
                <input id="title" name="title" type="text" class="required field-data-control" value="{{self.title}}">
            </div>
        </li>
        <li class="field comp-setting-entry metadata_entry">
            <div class="wrapper-comp-setting">
                <label for="description" class="label setting-label">Description</label>
                <textarea id="description" name="description" rows="5" cols="50" class="required field-data-control custom_textarea">{{self.description}}</textarea>
            </div>
        </li>
        <li class="field comp-setting-entry metadata_entry">
            <div class="wrapper-comp-setting">
            {% if not self.quiz_type %}
                <label for="type" class="label setting-label">Quiz Type</label>
                <select id="type" name="type" class="required field-data-control">
                    <option value=""> -- Select Type -- </option>
                    {% for t in self.types %}
                        <option value="{{t.value}}" {% if t.value == self.quiz_type %} selected="selected" {% endif %} >
                            {{t.label}}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                    <label for="type" class="label setting-label">Quiz Type</label>
                    <select id="type" name="type" class="required field-data-control" disabled="disabled">
                        {% for t in self.types %}
                            {% if t.value == self.quiz_type %}
                                <option value="{{t.value}}" selected="selected"  >
                                    {{t.label}}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </li>
    </ul>
</section>