<!-- Step 3 Html -->
<h3>Questions</h3>
<section step="3">
    <div id="questions_panel">
        <h3>Quiz Questions XX</h3>
        {% if self.questions %}
            {% for question in self.questions %}
                <div class="question">
                    <input type="hidden" class="question_id" value="{{question.id}}" >
                    <div class="question_field">
                        <label><span class="q-order">{{forloop.counter}}.</span></label>
                        <input placeholder="Enter your question" type="text" id="question[{{forloop.counter0}}]" name="question[{{forloop.counter0}}]"  class="required question-txt" value="{{question.title}}" />
                        <a href="#" data-tooltip="Delete Question" class="delete-question delete-button action-button">
                            <i class="icon fa fa-trash-o"></i>
                            <span class="sr">Delete</span>
                        </a>
                    </div>
                    <h4>Choices</h4>
                    {% with question_order=forloop.counter0 %}
                        <ol type="A">
                            {% for choice in question.choices %}
                                <li class="answer-choice">
                                    <input placeholder="Choice text" type="text" id="question[{{question_order}}]answer[{{forloop.counter0}}]" name="question[{{question_order}}]answer[{{forloop.counter0}}]" value="{{choice.name}}" class="required answer-txt" />
                                    {% if self.quiz_type == self.BUZ_FEED_QUIZ_VALUE %}
                                        <select id="question[{{question_order}}]category[{{forloop.counter0}}]" name="question[{{question_order}}]category[{{forloop.counter0}}]" class="required result-choice">
                                            <option value=""> -- Choose result -- </option>
                                            {% for result in self.results %}
                                                <option value="{{result.id}}" {% if result.id == choice.category_id %} selected="selected" {% endif %}>{{result.name}}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input placeholder="Choice Value" type="number" step="0.1" id="question[{{question_order}}]value[{{forloop.counter0}}]" name="question[{{question_order}}]value[{{forloop.counter0}}]" value="{{choice.value}}" class="required answer-value" />
                                    {% endif %}
                                    <a href="#" data-tooltip="Delete Choice" class="delete-choice delete-button action-button">
                                        <i class="icon fa fa-trash-o"></i>
                                        <span class="sr">Delete</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endwith %}
                    <a href="#" class="add-new-choice button button-new" title="Click to add a new Choice">
                        <i class="icon fa fa-plus"></i>New Choice
                    </a>
                </div>
            {% endfor %}

        {% else %}
            <div class="question">
                <input type="hidden" class="question_id" value="" >
                <div class="question_field">
                    <label><span class="q-order">1.</span></label>
                    <input placeholder="Enter your question" type="text" id="question[0]" name="question[0]"  class="required question-txt" value="" />
                    <a href="#" data-tooltip="Delete Question" class="delete-question delete-button action-button">
                        <i class="icon fa fa-trash-o"></i>
                    <span class="sr">Delete</span>
                    </a>
                </div>
                <h4>Choices</h4>

                <ol type="a">
                    <li class="answer-choice">
                        <input placeholder="Choice text" type="text" id="question[0]answer[0]" name="question[0]answer[0]" class="required answer-txt" />
                        <select id="question[0]category[0]" name="question[0]category[0]" class="required result-choice">
                            <option value=""> -- Choose result -- </option>
                        </select>
                        <input placeholder="Choice Value" type="number" step="0.1" id="question[0]value[0]" name="question[0]value[0]" class="required answer-value"/>
                        <a href="#" data-tooltip="Delete Choice" class="delete-choice delete-button action-button">
                            <i class="icon fa fa-trash-o"></i>
                            <span class="sr">Delete</span>
                        </a>
                    </li>
                </ol>
                <a href="#" class="add-new-choice button button-new" title="Click to add a new Choice">
                    <i class="icon fa fa-plus"></i>New Choice
                </a>
            </div>
        {% endif %}
        <a href="#" class="add-new-question button button-new" title="Click to add a new Question">
            <i class="icon fa fa-plus"></i>New Question
        </a>
    </div>
</section>